<div class="container">

<h2>Cadastro de produtos</h2>
<form action="/estoque/insertproducts" method="POST" class="form">
<div class="form-control">
    <input type="text" name="title" placeholder="Digite o título">
</div>
<div class="form-control">
    <input type="number" name="productqty" placeholder="Quantidade desse produto">
</div>
<input type="submit" value="Cadastrar">
</form>
</div>
